@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&family=Oswald:wght@200;300;400;500&display=swap");

$black: #0d0704;
$dark-brown: #342c24;
$bege: #888066;
$yellow-bege: #d1c89e;

$title-font: "Oswald", sans-serif;
$text-font: "Open Sans", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
