.App {
  height: 100%;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./Assets/logos/colorfull-logo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans";
}
